@using RentalOnlineStore.Domain.DomainModals
@model Movie

<div class="movie-details">
    <h1>@Model.Title</h1>

    <div class="row mt-4">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Genre</dt>
                <dd class="col-sm-9">@Model.Genre</dd>

                <dt class="col-sm-3">Release Date</dt>
                <dd class="col-sm-9">@Model.ReleaseDate.ToString("MMMM dd, yyyy")</dd>

                <dt class="col-sm-3">Duration</dt>
                <dd class="col-sm-9">@Model.Length.ToString(@"hh\:mm")</dd>

                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                    @if (Model.IsAvailable)
                    {
                        <span class="text-success">Available (@Model.Quantity copies)</span>
                    }
                    else
                    {
                        <span class="text-danger">Currently unavailable</span>
                    }
                </dd>
            </dl>

            @if (Model.IsAvailable)
            {
                <form asp-controller="Rentals" asp-action="RentMovie" method="post">
                    <input type="hidden" name="movieId" value="@Model.Id" />
                    <button type="submit" class="btn btn-success">Rent This Movie</button>
                </form>
            }
        </div>
    </div>
</div>